body {
    width: 98%;
    margin: auto;
}


.top {
    display: flex;
    margin-top: 10px;
}

.list1 {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.listitems{
    margin: 5px;
    padding: 5px;
}

.img1 {
    width: 155px;
    height: 120px;
    border-radius: 10%;
    margin-left: 50px;
    margin-top: 10px;
}

.middle,
.bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.box {
    background-color: rgb(199, 199, 199);
    width: 22.5em;
    height: 12em;
    border-radius: 10px 50px 10px 10px;
}

h2,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-left: 7px;
    margin-top: 7px;
    color: rgb(49, 9, 61);
}
h3 {
    margin-left: 75px;
    margin-top: 10px;

}

.list2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-left: 22px;
    font-size: 20px;
}

.info {
    background-color: rgb(199, 199, 199);
    width: 36.5em;
    height: 20em;
    border-radius: 50px 50px 10px 10px;
}

ol,
.links {
    font-style: initial;
    font-size: 20px;
    font-weight: bold;
}

h4,
h5 {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}
h5 {
    margin-left: 20px;
}

.video {
    position: absolute;
    left: 120px;
    border: 2px solid black;
}

a {
   color:  rgb(49, 9, 61);
   text-decoration: none;
}

a:hover {
    color: black;
}

.img2 {
    width: 12em;
    height: 6em;
    margin-left: 3em;
}

span {
    margin-left: 3em;
    font-size: 25px;
    font-weight: bold;
}
